#root {
  
  /*max-width: 1280px; margin: 0 auto;*/
  text-align: center;
  background-color: maroon
}

* {
  box-sizing:  border-box;
  padding: 0;
  margin: 0
}

#root {
  height: 100vh
}


.header{
  
  color: white 
}

/* sizing of map container */
.leaflet-container {
  height: 100vh
}