#root {
  
  /*max-width: 1280px; margin: 0 auto;*/
  text-align: center;
  background-color: maroon
}

* {
  box-sizing:  border-box;
  padding: 0;
  margin: 0
}

#root {
  height: 100vh
}


.header{
  
  color: white 
}

/* sizing of map container */
.leaflet-container {
  height: 100vh
}

.submitButton{
  
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    z-index: 400;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 700;
}