#root {
  
  /*max-width: 1280px; margin: 0 auto;*/
  text-align: center;
  background-color: maroon
}

* {
  box-sizing:  border-box;
  padding: 0;
  margin: 0
}

#root {
  height: 100vh
}


.header{
  
  color: white 
}

/* sizing of map container */
.leaflet-container {
  height: 100vh
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

