#root {
  
  /*max-width: 1280px; margin: 0 auto;*/
  text-align: center;
  background-color: maroon
}

* {
  box-sizing:  border-box;
  padding: 0;
  margin: 0
}

#root {
  height: 100vh
}


.header{
  
  color: white 
}

/* sizing of map container */
.leaflet-container {
  height: 100vh
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.submitButton{
  
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    z-index: 400;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 700;
}

.submitButton:hover {
  background-color:#002ead;
  transition: 0.3s;
}

.del-marker{
  text-align: center;
  padding: 5px;
  
}

.del-btn{
  background-color: darkred;
  color: white;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

#cost{
  width: 40%;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
}

#node_label{
  width: 50%;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
}


.button-div{
  text-align: center;
  margin-top: 5px;
}

.form-button{
  background-color:#40c211;
  color: black;
  font-weight: 700;
  padding: 5px;
  border-radius: 10px;
}

.form-button:hover{
  background-color:#339112;
  transition: 0.3s;
}