@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

@font-face {
font-family: OpenSans;
src: url(./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

h2{
    color:  rgb(222, 16, 16);
}

.grid-container{
    margin: 0 120px 0 120px;
    padding: 10px;
    /* font-family: "Canterell",sans-serif; */
    
    
}

p, li{
    color: black;
    text-align: left;
    font-size: 16px;
    /* font-family: Montserrat; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: OpenSans;
    font-weight: 500;
    line-height: 1.7em;
}

ol {
    list-style-position: inside;
    color: black;
}



.grid-container-fb{
    margin: 0 80px 0 80px;
    padding: 10px;
    
}

.mini-heading{
    text-align: left;
    font-size: 20px;
    color:  rgb(132, 5, 5);
}