/* @font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  } */

@font-face {
font-family: OpenSans;
src: url(./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

.grid-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%; /* Adjust max-width to fit content comfortably */
}

h2 {
    color: rgb(222, 16, 16);
    font-size: 28px;
    margin-top: 20px; /* Add some spacing */
}

p, li, ol {
    color: black;
    font-size: 16px;
    font-family: OpenSans;
    line-height: 1.6;
    text-align: left; 
    font-weight: 500;

}

img {
    display: block; /* Ensure images don't have spacing issues */
    max-width: 100%; /* Make images responsive */
    margin: 0 auto 20px; /* Add some vertical spacing */
}

@media screen and (max-width: 576px) {
    /* Adjustments for smaller screens (e.g., mobile devices) */
    .grid-container {
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    p, li, ol {
        font-size: 14px;
    }
}