
.header{
    background-color: maroon;
    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-header{
    font-size: larger;

}

img{
    padding-top: 15px;
    float: right;
}

.nav-link{
    padding-left: 40px;
    color: rgb(223, 206, 78);
    
    
}

.nav-link:hover {  color: rgb(183, 169, 66); transition: 0.3s;}

.nav-link:link { text-decoration: none; }

.nav-link:visited { text-decoration: none; }

.nav-link:hover { text-decoration: none; }

.nav-link:active { text-decoration: none; }

.home-container{
    margin: 0 50px 0 50px;
    padding: 0 20px 0 20px;
    color: black;
    background-color: rgb(238, 226, 210);
}

h3{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p{
    text-align: left;
    font-size:0.9em;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 0.3in;
}