@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
    }

    
.header{
    
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #3361b2 100%); 
    color: white;
    text-align: left;
    /* padding: 10px 20px 10px 20px; */
    font-family: OpenSans;
    font-size: 17px;
}

.navbar-dark .navbar-brand {
    color:rgb(223, 206, 78);
    
}

.navbar-brand:active {
    color:rgb(223, 206, 78);
    
}


.navbar>.container, .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: left;
}


.logo{
   
    width: 130;
    height: 30px;
    position: absolute;
    right: 30px
    
}

.nav-link{
    /* padding-left: 40px; */
    color: rgb(229, 219, 219);
}

.nav-link:hover {  color: rgb(183, 169, 66); transition: 0.3s;}

.nav-link:link { text-decoration: none; }

.nav-link:visited { text-decoration: none; }

.nav-link:hover { text-decoration: none; }

.nav-link:active { text-decoration: none; }

.dropdown-item {
    display: block;
    width: 100%;
    /* padding: 0.25rem 1.5rem; */
    clear: both;
    font-weight: 470;
    color: #191b1d;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

h3{
    text-align: left;
    font-family: OpenSans;
}


h2{
    font-family: OpenSans;

}