@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

  .home-container {
    margin: 0 auto;
    padding: 0 10px;
    color: black;
}

.about-section {
    margin: 0 auto;
    width: 90%;
}

.column {
    width: 100%; /* Adjust width for smaller screens */
    float: none; /* Remove floating */
    padding: 0 15px;
    margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.img-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center align items */
}

@media screen and (min-width: 768px) {
    .column {
        width: 30%; /* Reset width for larger screens */
        float: left;
        margin-left: 10px;
    }
}

.heading-style{
    padding-top: 20; 
    padding-bottom: 15; 
    color:  rgb(222, 16, 16);
    margin: 20px 0 10px 0;
}

    


p{
    text-align: left;
    font-size:0.9em;
    font-family: Montserrat;
    font-weight: 550;
    line-height: 0.3in;
}

.profile-team{
    text-align: center;
    font-size: 1.2rem;
    
}

.carousel-control-prev,
.carousel-control-next {
    visibility: visible;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}