@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

.home-container{
    margin: 0 30px 0 30px;
    padding: 0 10px 0 10px;
    color: black;
        
}

.about-section{
    margin: 0 55px 0 55px;
}

.column{
    width: 30%;
    float: left;
    padding: 0 15px 0 15px;
    margin-left: 10px;
    
}

.img-container{
    display: flex;
}

.heading-style{
    padding-top: 20; 
    padding-bottom: 15; 
    color:  rgb(222, 16, 16);
    margin: 20px 0 10px 0;
}

    


p{
    text-align: left;
    font-size:0.9em;
    font-family: Montserrat;
    font-weight: 550;
    line-height: 0.3in;
}

.profile-team{
    text-align: center;
    
}

