.viewrouteButton{
    position: absolute;
    top: 20px;
    right: 440px;
    padding: 15px;
    z-index: 400;
    border-radius: 10px;
    background-color: rgb(178, 165, 195);
    color: black;
    font-weight: 700;
  
  }
  
  .submitButton{
    
      position: absolute;
      top: 20px;
      right: 30px;
      padding: 15px;
      z-index: 400;
      border-radius: 10px;
      background-color: blue;
      color: white;
      font-weight: 700;
  }
  
  .popup_submit{
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    z-index: 400;
    border-radius: 10px;
    background-color: greenyellow;
    color: white;
    font-weight: 700;
  }
  
  .calculateButton{
    
    position: absolute;
    top: 20px;
    right: 330px;
    padding: 18px;
    z-index: 400;
    border-radius: 10px;
    background-color: rgb(219, 29, 29);
    color: white;
    font-weight: 700;
  }
  
  .dropdown-btn{
    position: absolute;
    top: 20px;
    
    right: 190px;
    padding: 8px;
    z-index: 400;
    border-radius: 10px;
    background-color: rgb(35, 147, 22);
    color: white;
    font-weight: 700;
    font-size: small;
    border-style: inset;
  }
  
  .option-menu.modal-btn:hover{
    background-color:#4a4f5d;
    transition: 0.3s;
  }
  
  .select-menu{
    border-radius: 20px;
    padding: 3px;
    margin-top: 3px;
  }
  .select-menu:hover {
    background-color:rgb(183, 183, 183);
    transition: 0.1s;
  }
  
  .submitButton:hover {
    background-color:#0b329b;
    transition: 0.3s;
  }
  
  .calculateButton:hover {
    background-color:rgb(139, 49, 49);
    transition: 0.3s;
  }
  
  
  .del-marker{
    text-align: center;
    padding: 5px;
    
  }
  
  .del-btn{
    background-color: darkred;
    color: white;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
  }
  
  .modal{
    position: absolute;
    top: 130px;
    right: 30px;
    padding: 10px;
    z-index: 400;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: small;
    border-style:dashed;
    text-align: center;
  }
  
  .modal-btn{
    
    border-radius: 10px;
    font-weight: 600;
    padding: 5px;
  }
  
  .modal-btn:hover {
    background-color:darkgray;
    transition: 0.3s;
  }
  
  
  .cost-msg{
    font-size: small;
    color: red;
    margin-left: 10px;
  }
  
  #cost{
    width: 40%;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
  }
  
  #node_label{
    width: 50%;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
  }
  
  
  .button-div{
    text-align: center;
    margin-top: 5px;
  }
  
  .form-button{
    background-color:#40c211;
    color: black;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
  }
  
  .form-button:hover{
    background-color:#339112;
    transition: 0.3s;
  }