
.table-heading{
    color: rgb(222, 16, 16);
    text-align:center;
}
.summary{
    color:  rgb(222, 16, 16);
    font-weight: 800;
}

.route-about{
    margin: 30px 200px 0 55px;
}

.submitTableButton{
    position: absolute;
    top: 120px;
    right: 50px;
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(227, 224, 221);
    
    color: black;
    
    font-weight: 800;
}

.submitTableButton:hover {
    background-color: rgb(166, 155, 144);
    transition: 0.3s;
  }
  

.downloadButton1{
    position: absolute;
    top: 190px;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(204, 117, 30); */
    background-color: rgb(26, 69, 171);
    /* color: white; */
    color: white;
    font-weight: 800;
}

.downloadButton1:hover {
    background-color:rgb(34, 59, 130);
    transition: 0.3s;
  }
  

.downloadButton2{
    position: absolute;
    top: 250px;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(204, 117, 30); */
    background-color: rgb(26, 69, 171);
    color: white;
    font-weight: 800;
}

.downloadButton2:hover {
    background-color:rgb(34, 59, 130);
    transition: 0.3s;
  }
  
.table-para{
    font-weight: 550;
    /* font-family: 'Montserrat'; */
}



.table-container{
    margin-left: 30px;
    margin-right: 40px;
}

.csv-container{
    display: flex;
    margin: 30px 200px 30px 30px;
}

table, td, tr{
    color: black;
    /* border:2px solid white; */
    border: inset 2px;
    border-collapse:collapse;
    font-size: small;
    padding: 8px;
    text-align: left;
    margin: 20px 50px 50px 50px;
    /* font-family: 'Montserrat'; */
    background-color:rgb(227, 224, 221);
}

th{
    /* background-color: rgb(134, 31, 65); */
    background-color: rgb(26, 69, 171);
    /* border:2px solid white; */ 
    border: inset 2px;
    color: white;
    border-collapse:collapse;
    padding: 8px;
    text-align: left;
    margin: 50px;
}





