h3{
    color: black;
}

.submitTableButton{
    position: absolute;
    top: 100px;
    right: 50px;
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(56, 56, 214);
    color: white;
    font-weight: 700;
}

.downloadButton{
    position: absolute;
    top: 170px;
    right: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(204, 117, 30);
    color: white;
    font-weight: 700;
}


.table-container{
    margin-left: 30px;
    margin-right: 40px;
}


table, td, tr, th{
    color: black;
    border:2px solid;
    border-collapse:collapse;
    font-size: small;
    padding: 5px;
    text-align: left;
}
